body{
  background-color: rgba(138, 43, 226, 0.6);
}
a{
  text-decoration: none;
  font-size: 20px;
}

.nav nav{
  margin: auto;
  width: 95%;
  position: absolute;
  top: 0;
  background-color: rgb(138, 43, 226);
  border-radius: 10px;
}
.nav nav ul {
  display: flex;
  flex-direction: row;  
  justify-content: center;
  align-items: center;
}

.nav nav ul li{
  margin: 20px;
  list-style: none;
}

.nav nav ul li:hover{
  opacity: 0.5;
}

.nav nav img {
  position: absolute;
  top: 70px;
  right: 20px;
  border-radius: 50%;
  width: 50px;
  transition: all ease-in-out;
  transform: rotateX(100);
}

