
            header {
        width: 98%;
      }
      
      header nav {
        width: 95%;
      }
      
      header .search {
        width: 95%;
      }
      
      header .search input {
        width: 60%;
        font-size: 14px;
      }
      
      main {
        padding: 0 5px;
      }
      
      main .par {
        padding: 12px;
        margin: 10px 0;
      }
      
      main .par h1 {
        font-size: 20px;
      }
      
      main .par p {
        font-size: 14px;
      }